<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yui.koalassimonsaysgame_android">

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.KoalasSimonSaysGame_android">
        <activity android:name=".resultPage.RegisterRankingDialogFragment" />
        <activity android:name=".rankingPage.RankingActivity" />
        <activity android:name=".resultPage.ResultActivity" />
        <activity android:name=".playGamePage.PlayGameActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashActivity"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>